<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer--middle-section">

    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">网页信息</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">通过 RSS 订阅消息</a></li>
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="username">网页源
              <span class="icon  icon--github">
                <svg viewBox="0 0 16 16">
                  <path fill="#828282"
                    d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761 c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32 c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472 c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037 C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65 c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261 c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082 c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129 c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z" />
                </svg>
              </span>
              {{ site.github_username }}</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">前往收听</h1>
      <ul class="mdl-mega-footer--link-list">
        {% if site.anchor %}
        <li>
          <a href="https://anchor.fm/christine3563">
            <span class="icon-anchor">
              <svg viewBox="0 0 16 16" style="width:16px;height:16px">
              </svg>
            </span>
            <span class="username">Anchor</span>
          </a>
        </li>
        {% endif %}
        {% if site.spotify_podcast %}
        <li>
          <a href="https://open.spotify.com/show/2Ur0uGHRj7hNPrznkQJtdm">
            <span class="icon-volume-up">
              <svg viewBox="0 0 16 16" style="width:16px;height:16px">
              </svg>
            </span>
            <span class="username">Spotify</span>
          </a>
        </li>
        {% endif %}
        {% if site.google_podcasts %}
        <li>
          <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy8yYzIwMTIyNC9wb2RjYXN0L3Jzcw==">
            <span class="icon-google-plus-sign">
              <svg style="width:16px;height:16px" viewBox="0 0 16 16">
              </svg>
            </span>
            <span class="username">Google Podcasts</span>
          </a>
        </li>
        {% endif %}
        {% if site.apple_podcast %}
        <li>
          <a href="https://podcasts.apple.com/us/podcast/%E5%8D%88%E6%97%B6%E5%B7%B2%E5%88%B0-closure/id1523868860">
            <span class="icon-apple">
              <svg style="width:18px;height:18px" viewBox="0 0 24 24">
              </svg>
            </span>
            <span class="username">Apple Podcast</span>
          </a>
        </li>
        {% endif %}
        {% if site.radio_public %}
        <li>
          <a href="https://radiopublic.com/closure-6NVn1g">
            <span class="icon-archive">
              <svg style="width:16px;height:16px" viewBox="0 0 16 16">
              </svg>
            </span>

            <span class="username">Radio Public</span>
          </a>
        </li>
        {% endif %}

      </ul>
    </div>

    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">关于</h1>
      <ul class="mdl-mega-footer--link-list">
        <li>{{ site.description }}</li>
      </ul>
    </div>


  </div>

  <div class="mdl-mega-footer--bottom-section">
    <div class="mdl-logo">{{ site.title }}</div>
    <ul class="mdl-mega-footer--link-list">
      <li><a href="#">Help</a></li>
      <li><a href="#">Privacy & Terms</a></li>
    </ul>
  </div>

</footer>
