<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    
    <div class="mdl-layout-spacer"></div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                mdl-textfield--floating-label mdl-textfield--align-right">
      <label class="mdl-button mdl-js-button mdl-button--icon"
             for="js-search__input">
        <i class="material-icons">search</i>
      </label>
      
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="text" name="sample"
               id="js-search__input" />
      </div>

      <button class="mdl-button mdl-js-button mdl-button--icon" id="fixed-menu-lower-left">
        <i class="material-icons">more_vert</i>
      </button>

      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="fixed-menu-lower-left">
        {% for option in site.more_vert %}
        <li><a href="{{ option[1].link }}" class="mdl-menu__item">{{ option[1].name }}</a></li>
        {% endfor %}
      </ul>

    </div>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title"><a href="{{ site.url }}">{{ site.title }}</a></span>
  <nav class="mdl-navigation">
    {% for page in site.pages %}
      {% if page.title %}
    <a class="mdl-navigation__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>
</div>
