<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% if site.header_type == 'drawer' %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
      {% include header_fixed.html %}
    {% else %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include header.html %}
    {% endif %}

      <main class="mdl-layout__content">
        <div class="page-content">
          {{ content }}
        </div>
        {% include footer.html %}
      </main>

    </div>
    <!-- Material Design Lite js Library -->
    <script type="text/javascript" src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>

  </body>

</html>
