<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- Start Layout -->
    {% if site.header_type == 'drawer' %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
      {% include search_result.html %}
      {% include header_fixed.html %}
    {% else %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include search_result.html %}
      {% include header.html %}
    {% endif %}

    {{ content }}
    {% include footer.html %}

    </div>
    <!-- /End Layout -->

    <!-- Material Design Lite js Library -->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    {% if site.pagination_type == 'ops' %}
    <script rel="javascript" type="text/javascript" src="{{ "/assets/js/site.js" | prepend: site.baseurl }}"></script>
    {% endif %}
    <script rel="javascript" type="text/javascript" src="{{ "/assets/js/search.js" | prepend: site.baseurl }}"></script>
    <script rel="javascript" type="text/javascript">
      superSearch({
        searchFile: '/feed.xml',
        searchSelector: '#js-search', // CSS Selector for search container element.
        inputSelector: '#js-search__input', // CSS selector for <input>
        resultsSelector: '#js-search__results' // CSS selector for results container
      });
    </script>
  </body>

</html>
