---
layout: default
---
<div class="post-ribbon"></div>
<main class="post-main mdl-layout__content">
  <div class="post-container mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="post-section mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
      <div class="mdl-color-text--grey-500">
      {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
      </div>
      <h3>{{ page.title }}</h3>
      <article class="post-content">
        <p>{{ content }}</p>
      </article>
      {% if site.disqus %}
      <div>
        <h3>Comments</h3>
          {% include disqus.html %}
      </div>
      {% endif %}
    </div>
  </div>
</main>
